@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body, 
#__next {
  overflow-x: hidden;
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-ibm-sans {
  font-family: 'IBM Plex Sans', sans-serif;
}
.font-baloo {
  font-family: 'Baloo 2', cursive;
}
.font-handwriting {
  font-family: 'Lobster Two', cursive;
}